* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,li{
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}
.navbar {
  width: 100vw;
  height: 56px;
  background: rgba(0, 0, 0, 0.11);
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  text-decoration: none;
  font-size: 36px;
  color: rgb(9, 9, 109);
}

.navbtns {
  width: 50%;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li,
.navbar ul li a {
  font-size: 16px;
  color: brown;
}

.main-container {
  padding: 16px;
  width: 100vw;
  background: linear-gradient(51deg,#6b6bd9,#c9b0b0, transparent,#8f5d8f);
  display: flex;
}

.main-intro {
  margin-top: 56px;
  width: 54%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-intro h2 {
  padding: 12px 2px;
  font-size: 48px;
  font-weight: 600;
  color:#07264d ;
}

.intro-para {
  margin: 42px;
  width: 78%;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 1px;
  color:#080a50 ;
}
.more{
  font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    color: #1f185c;
    animation-delay: 0.8s;
    border: 2px solid #f6b024;
}


.main-image{
  padding: 16px 0px 0px 0px;
  margin-top: 24px;

}
.main-image img {
  width: 620px;
  overflow: hidden;
}








.boxes {
  padding-top: 10px;
  z-index: 100;
  display: flex;
}
.boxes .container{
  display: flex;
  justify-content: space-around;
}
.boxes .item-box {
  width: 20%;
  padding: 16px 10px;
  position: relative;
  overflow: hidden;
  background: #a0afda;
  box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.item{
  width:90%;
  margin: auto;
}

.cart{
  
  opacity: 0;
  border: 2px transparent;
  border-radius: 50px;
  padding: 10px 15px;
  font-size: 18px;
  float: right;
  margin-top: -12px;
}
.item :hover button{
  opacity: 1;
}

#footer .foot {
  margin-top: 40px;
  padding: 50px;
  background: #05579e;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 28px;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}
.foot h4{
  font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0px 20px;
    line-height: 1;
    color: aliceblue;
    font-weight: 500;
}
.foot p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #fff;
}
.log{
    flex: 2 2 auto;
    width: 45%;
}
.foot form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
}
.foot input[type=email]{
  border: 0;
  padding: 4px;
  width: calc(100% - 100px);
}

.foot form input[type=submit] {

position: absolute;
top: 0;
right: 0;
bottom: 0;
border: 0;
background: none;
font-size: 16px;
padding: 0 20px;
margin: 3px;
background: #f6b024;
color: #fff;
transition: 0.3s;
border-radius: 50px;
}
#footer .footer-top {
  background: #065fad;
  padding: 60px  30px 0;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
.footer-links {
  flex: 0 0 auto;
}
#footer .footer-top .footer-contact p {
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #fff;

}


#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.75);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.75);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
  flex: 0 0 auto;
    width: 25%;

}
.footer-info h3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  color: #fff;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}
.ftcontainer{
  background: #05579e;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}




